{% extends "admin/base_site.html" %}
{% block content %}
<script src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
<link href="{{ STATIC_URL }}css/fullcalendar.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/fullcalendar.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
<style>
	ul.ui-autocomplete {
    z-index: 1100;
}
</style>
{% load admin_static %}

<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />

<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}">  </script>
<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" />
<style>

.qtip-content {
    font-size:14px;
}
</style>

    <script type="text/javascript">
//Auto complete for our_customer and customer field


$(function() {

	$( "#customer" ).autocomplete({
	source: function (request, response) {
        $.getJSON("lookup/customer/", {
            q: request.term
        }, response);
    },
    minLength: 2,
	select: function( event, ui ) {
    $("#customer").val(ui.item.label);
    $("#id_customer").val(ui.item.value);
    return false;  // <--------------------- Add this
}


	});

});

$(function() {

	$( "#our_customer" ).autocomplete({
	source: function (request, response) {
        $.getJSON("lookup/ourcustomer/", {
            q: request.term
        }, response);
    },
    minLength: 2,
	select: function( event, ui ) {
    $("#our_customer").val(ui.item.label);
    $("#id_our_customer").val(ui.item.value);
    return false;  // <--------------------- Add this
}


	});

});



</script>

<script type="text/javascript">
	//Order dialog box
	
	$(document).ready(function() {





	//Close the form dialog upon clicking on close button.
	$('#closedialog').click(function () {
    $('#dialog').dialog('close');
    	return false;
	});
	
	//Submit the form via AJAX
	$('#submit-order').click(function () {
		var frm = $('#order_form');
        //var check = $('#id_startdate').val();
        //alert(check);
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
            		//location.reload();
               $("#calendar").fullCalendar("refetchEvents");
                $('#dialog').dialog('close');
            },
            
            statusCode: {
            400: function(data) {
            	errors = JSON.parse(data.responseText);
            	for (error in errors){
            		$('#'+error+'_error').css("display", "block");
            	}
                
                
            }
        }
           
        });
    	return false;
	});
	
	// FULL CALENDAR STARTS
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
    	
    				//******Calendar settings start*******//
    				//header of the calendar
			    	header: {
			    		left: 'title',
			    		right: 'today prev,next'
			    	},
			   		//default and only view of the calendar is agendaDay
			   		defaultView: 'resourceDay',
			   		//Time are selectable
			   		selectable: true,
			   		
			   		//Make the order editable
			   		editable: true,
                        aspectRatio: 2,
			   		
			   		selectable: true,
					selectHelper: true,
					allDaySlot: false,

					minTime: 8,
					maxTime: 23,
					//******Calendar settings end********//


			   		//Show the modal when the selection is done with the order form
			   		select: function(startDate, endDate, event, ev, ui) {
						//Format the datetime,
						var startDate = $.fullCalendar.formatDate(startDate, "yyyy-MM-dd HH:mm:ss");
						var endDate = $.fullCalendar.formatDate(endDate, "yyyy-MM-dd HH:mm:ss");

						//Load initial datetime and driver selected by user
						$('#id_startdate').val(startDate);
						$('#id_duedate').val(endDate);
						$('#id_driver').val(ui);

						//Hide dates and drivers fields with the user
						$('label[for="id_startdate"]').hide();
						$('label[for="id_duedate"]').hide();
						$('label[for="id_driver"]').hide();
						$("#id_startdate").hide();
						$("#id_duedate").hide();
						$("#id_driver").hide();

						//Show the form
						$("#customer").val('');
   						$("#id_customer").val('');
   						$("#id_our_customer").val('');
   						$("#our_customer").val('');
   						$("#customer_error").hide();
   						$("#our_customer_error").hide();
						$( "#dialog" ).dialog({
							resizable: false,
							height:150,
							width: 450
						});
					},

					//Load the event data upon click
					eventClick: function(calEvent, jsEvent, view) {
						id = calEvent.id;
						window.location.href = '/admin/customer/order/' + id;


					},

				//Driver names
				resources: '/admin/customer/order/lookup/driver/',

            //json feeding functionality

            events:'/admin/customer/order/lookup/order/',


						eventRender: function(event, element) {
                            console.log(event.description);
            $('.fc-widget-event').append("ok");
             element.qtip({
                content: 'From <br/>'+ event.ourcustomer_description +' <br/><br/>To '+  '<br/>'+ event.customer_description  ,
                style: { classes: 'qtip-dark'
                },
                 position:{
        my:'bottom center',
        at:'top center'
      },
      show: { solo: true }

            });



        },
        eventAfterRender: function(event, element, view) {
                     var width = $(element).width();
            console.log(width);

     // Check which class the event has so you know whether it's half or quarter width
     if($(element).hasClass("HalfClass"))
        width = width / 2;
     if($(element).hasClass("QuarterClass"))
        width = width / 4;



     // Set the new width
     $(element).css('width', width + 'px');
                    },
			   eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
							$.ajax({
							url: '/admin/customer/order/update-order/',
							type: 'GET',
							 data: {id:event.id, minutes:minuteDelta, resource:event.resourceId },
							  success: function(data) {
							  	$('#calendar').fullCalendar('refetchEvents'); //Refetch events after event up
						       }

						});
					},

				eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
						$.ajax({
							url: '/admin/customer/order/resize-order/',
							type: 'GET',
							 data: {id:event.id, minutes:minuteDelta }


						});

				    }
			    });



var $myText = $("#mycustomer");

$myText.data("value", $myText.val());

setInterval(function() {
    var data = $myText.data("value"),
        val = $myText.val();

    if (data !== val) {
        $myText.data("value", val);
         $.getJSON("lookup/customer/pk/?q="+val, function (json) {

                 $("#customer").val(json.label);
                 $("#id_customer").val(json.value);

         });
    }
}, 100);


var $myOurText = $("#myourcustomer");

$myOurText.data("value", $myOurText.val());

setInterval(function() {
    var data = $myOurText.data("value"),
        ourval = $myOurText.val();

    if (data !== ourval) {
        $myOurText.data("value", ourval);
         $.getJSON("lookup/ourcustomer/pk/?q="+ourval, function (json) {

                 $("#our_customer").val(json.label);
                 $("#id_our_customer").val(json.value);

         });
    }
}, 100);


});


</script>

<div id='calendar'></div>

<div id="dialog" title="Add Order" style="display: none;">
	{% csrf_token %}
	<form id="order_form" action="{% url 'order' %}" method="post">
	<fieldset class="grp-module">
		<div id="ajaxDialog">
			
			<div class="fieldWrapper">
		        {{ form.our_customer.errors }}<p id="our_customer_error" style="color: #BF3030; display: none;">Please choose from the available  our customers!</p>
		        <label for="id_our_customer">Our Customer:</label>
		        {{ form.our_customer }}<input id="our_customer" />
                <input id="myourcustomer" type="hidden">

                <a id="add_myourcustomer" class="add-another" onclick="return showAddAnotherPopup(this);" href="/admin/customer/ourcustomer/add/">
		        	<img width="10" height="10" alt="Add Another" src="{% static 'admin/img/icon_addlink.gif' %}">
		        </a>


		    </div>
		    <div class="fieldWrapper">
		        {{ form.customer.errors }}<p id="customer_error" style="color: #BF3030; display: none;">Please choose from the available customers!</p>
		        <label for="id_customer">Customer:</label>
		        {{ form.customer }}<input id="customer" />
                <input id="mycustomer" type="hidden">
		        <a id="add_mycustomer" class="add-another" onclick="return showAddAnotherPopup(this);" href="/admin/customer/customer/add/">
		        	<img width="10" height="10" alt="Add Another" src="{% static 'admin/img/icon_addlink.gif' %}">
		        </a>

		    </div>
		    
	    </div>
	    <div class="fieldWrapper">
	        {{ form.startdate.errors }}
	        <label for="id_startdate">Start Date:</label>
	        {{ form.startdate }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.duedate.errors }}
	        <label for="id_duedate">Due Date:</label>
	        {{ form.duedate }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.driver.errors }}
	        <label for="id_driver">Driver:</label>
	        {{ form.driver }}
	    </div>
	</fieldset>
	<div style="float: right;">
	<input type="submit" id="submit-order" value="Save Order"/>
	<input type="submit" id="closedialog" value="Cancel" />
	</div>
	</form>
</div>

{% endblock %}