{% extends "reporting/report_base.html" %}
{% block content %}



    {% for driver in drivers %}
        {% if driver.numberofrows != 0 %}
             <div class="page-header">
    <img src="http://door2doorq8.com/images/logo.png">
  <h1>Details Income Report </h1><small>
      From {{ fromdate|date:"d-m-Y"}} To: {{ todate|date:"d-m-Y" }}</small>
</div>

        <table class="table table-striped">
    <thead>
          <tr>
           <th>{{ driver.name }}</th>
          </tr>
        </thead>

<table class="table table-striped">
<thead>
          <tr>
           <th>Order #</th>
           <th>Order Date</th>
           <th>Our Customer </th>
          <th>Customer</th>
           <th>Returned</th>
           <th>Charge</th>

          </tr>
        </thead>
                    <tbody>

               {% for order in driver.order_date %}


        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.duedate|date:"d-m-Y H:i" }}</td>
        <td>

            {{ order.our_customer.name }}

        </td>
         <td>

            {{ order.customer.area_name.name }}

        </td>
         <td>
{% if order.returned %}
            Yes
         {% else %}
             No
             {% endif %}

        </td>

         <td>

            {{ order.total_charge }}

        </td>
          </tr>
                    {% endfor %}


     <tr>
            <th colspan="7">
                <div class="row">
                    <div class="col-sm-3 text-right order-number"> Orders Count : {{ driver.numberofrows }}</div>
                    <div class="col-sm-3 text-right order-total">Total:
                        {% if driver.total %}
                        {{ driver.total }}
                    {% else %}
                        0
                        {% endif  %}

                    </div>
                </div>
            </th>
        </tr>
                    </tbody>

</table>
        </table>
            <p style="page-break-after: always">&nbsp</p>
        {% endif %}
        {% empty %}
        <h1> No Orders </h1>

    {% endfor %}

  {% endblock content %}

