{% extends "admin/base_site.html" %}


{% block title %}
List of Reports
{% endblock %}






{% block content %}

<script src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">

{% load admin_static %}

<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}">  </script>
<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>

    <script type="text/javascript">
	$(document).ready(function() {

$('#datepicker, #datepicker2').datepicker({
        showOn: "both",
        beforeShow: customRange,
        dateFormat: "dd M yy"
    });





        $('form').submit(function(){
    if($("#datepicker").val()=='' || $("#datepicker2").val()=='')
            {
                alert("Please Select Date time interval");
                return false;
            }
    else {
                return true;
            }
});





        function customRange(input) {

    if (input.id == 'datepicker2') {
        var minDate = new Date($('#datepicker').val());
        var maxDate = new Date();
        maxDate.setDate(maxDate.getDate())
        minDate.setDate(minDate.getDate())

        return {
            minDate: minDate,
            maxDate: maxDate

        };
    }



            if (input.id == 'datepicker') {
        var maxDate = new Date();
        maxDate.setDate(maxDate.getDate())

        return {
            maxDate: maxDate

        };
            }




    return {}

}


    });
    </script>


<div id="content-main">
	



<table>
	
<form action="" method="post" id="form">
{% csrf_token %}
<tr>
	<td>from :</td>
		<td><input name="from" id="datepicker" type="text" class="dpDate">
</td>
	</tr>
	<tr>
			<td>to :</td>

		<td><input name="to" id="datepicker2" type="text" class="dpDate">
</td>
	</tr>
    <tr>
			<td>Driver :</td>

		<td>
            <select name="driver">
                <option value="-1">All</option>
                {% for driver in drivers %}
                <option value="{{ driver.id }}">{{ driver.name }}</option>
                {% endfor %}
            </select>
</td>
	</tr>
	<tr>
		
		<td colspan="2"><select style="width: 200px"  name="report_type">
	<option value="driver_report">Detailed Report</option>
	<option value="driver_summary">Summary Report </option>


</select></td>
	</tr>
<tr>
	<td>&nbsp;</td>
	<td>
		
		<input type="submit" name="submit" value="Generate Report" />

		
	</td>
</tr>
</form>
</table>
<!-- End demo -->
</div>
{% endblock %}

	