{% extends "reporting/report_base.html" %}
{% block content %}
    <div class="page-header">
    <img src="http://door2doorq8.com/images/logo.png">
  <h1>Summary Income Report </h1>
        <small>
      From {{ fromdate|date:"d-m-Y"}} To: {{ todate|date:"d-m-Y" }}</small>
</div>

    {% for object in objects %}
        <table class="table table-striped">
    <thead>
          <tr>
           <th>{{ object.duedate|date:'Y-m-d' }}</th>
          </tr>
        </thead>

<table class="table table-striped">
<thead>
          <tr>
           <th>Driver Name</th>
           <th>Total Orders</th>
          <th>Total Income </th>
          </tr>
        </thead>
                    <tbody>

                {% for driver in object.driver %}


        <tr>
            <td>{{ driver.name }}</td>
            <td>{{ driver.ordercount }}</td>
        <td>
            {% if driver.total %}
            {{ driver.total }}
        {% else %}
            0
            {% endif %}
        </td>
          </tr>
                    {% endfor %}

                    {% if object.total_today.total_charge__sum  %}
                    <tr>
                        <td>
                           <b>Total</b>
                        </td>
                        <td>{{ object.total_today_count }}</td>
                    <td> {{ object.total_today.total_charge__sum }}</td>
                    </tr>
                    {% endif %}
                    </tbody>

</table>
        </table>
        {% empty %}
        <h1> No Orders </h1>
    {% endfor %}

  {% endblock content %}


<th>Our Customer</th>
            <th> Customer</th>
            <th> Delivery Date</th>
            <th>Returned</th>
             <th>Charge</th>